.downloadTable {
    border-style: none;
    background-color: transparent;
}

.downloadTable td {
    border-style: none;
    background-color: transparent;
}

.downloadTable tr {
    border-style: none;
    background-color: transparent;
}